{% extends "base.html" %}

{% block title %}Ticket Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">Ticket Details</h1>
            <table class="table table-bordered">
                <tr>
                    <th>Ticket ID</th>
                    <td>{{ ticket.id}}</td>
                </tr>
                <tr>
                    <th>Event</th>
                    <td>{{ ticket.event }}</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>{{ ticket.location_name }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ ticket.price }} {{ ticket.currency }}</td>
                </tr>
                <tr>
                    <th>Bought At</th>
                    <td>{{ ticket.bought_at }}</td>
                </tr>
                <tr>
                    <th>Revoked</th>
                    <td>{{ ticket.revoked }}</td>
                </tr>
            </table>
            <div class="d-flex justify-content-between">
                <a class="btn btn-primary" href="/users/{{ user_id }}/tickets">Back to Tickets List</a>
                <a class="btn btn-secondary" href="/users/{{ user_id }}">Back to User Details</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
